/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* provide fonts in many formats for browser compatibility,
   * font versions can be prepared using a webfont generator -
   * generally, woff2 and ttf are the most important. */
  @font-face {
    font-family: 'Graphik';
    /* make sure woff2 is preloaded in index.html to avoid font-jumping */
    src: url('./fonts/Graphik-Light.woff2') format('woff2'),
        url('./fonts/Graphik-Light.woff') format('woff'),
        url('./fonts/Graphik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
      font-family: 'Graphik';
      src: url('./fonts/Graphik-Bold.woff2') format('woff2'),
          url('./fonts/Graphik-Bold.woff') format('woff'),
          url('./fonts/Graphik-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Graphik';
      src: url('./fonts/Graphik-Semibold.woff2') format('woff2'),
          url('./fonts/Graphik-Semibold.woff') format('woff'),
          url('./fonts/Graphik-Semibold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Graphik';
      src: url('./fonts/Graphik-Regular.woff2') format('woff2'),
          url('./fonts/Graphik-Regular.woff') format('woff'),
          url('./fonts/Graphik-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  html {
    @apply font-normal text-grey-900;
  }

  h2 {
    @apply my-0 leading-5 text-slate-500;
    font-size: 1.25rem;
  }

  h3 {
    @apply my-0;
    font-size: 0.875rem;
  }

  p {
    @apply m-0 font-light;
    font-size: 0.875rem;
  }

  a {
    @apply no-underline cursor-pointer;
    font-size: 0.875rem;
  }

  input {
    font-size: 0.875rem;
  }

  li {
    @apply list-none select-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 0.875rem;
  }
}

@layer components {
  .neumorph-light {
    box-shadow: -4px -2px 5px 1px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }

  .windows-scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .windows-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .windows-scrollbar::-webkit-scrollbar-thumb {
    background: #CBD5E1;
  }
}
